<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button color="secondary">Ok</ion-button>
      <ion-button color="secondary">cancelar</ion-button>
    </ion-buttons>
    <ion-title>
      Ola Mundo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src=""/>
    <ion-button routerLink="/proxima">
  <ion-icon slot="icon-only" name="arrow-redo-outline"> Ir a próxima página</ion-icon></ion-button>

  <ion-button color="secondary" routerLink="/novo">Novo Contato</ion-button>
  </div>
</ion-content>
